* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100%;
  background-color: rgb(230, 238, 242);
}

.container {
  width: 30rem;
  margin: 2rem auto;
}

.container .title {
  text-align: center;
  color: rgb(157, 157, 220);
}

#form {
  background-color: #fff;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

#input {
  flex: 1;
  padding: 0.7rem;
  border: none;
  background-color: transparent;
  outline: none;
}

#form .btn {
  padding: 0.7rem;
  background-color: rgb(157, 157, 220);
  color: #fff;
  cursor: pointer;
  border: none;
}

#lists .todo {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  background-color: #fff;
  color: rgb(96, 95, 95);
  margin-top: 0.5rem;
  padding: 0.7rem;
  border-radius: 5px;
}

.todo p {
  width: calc(80%);
  flex-wrap: wrap;
}

.todo span {
  cursor: pointer;
}

/* applied when the todo item is checked */
.checked {
  text-decoration: line-through;
}
